<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{name}}</title>
</head>

<body>
  <Form method="post" action="/submit">
    <label for="text">Text</label>
    <input type="text" id="text" name="text" placeholder="Your text...">

    <button type="submit">Send</button>
  </Form>
  {% if message %}
  <p style="color: green;"> {{message}}</p>
  {% endif %}
  <div>
    {% for item in texts %}
    <div>
      <p><strong>ID:</strong> {{ item.id }}</p>
      <p><strong>Texto:</strong> {{ item.text }}</p>
      <p><small><strong>Data:</strong> {{ item.date }}</small></p>
      <button>Excluir</button>
    </div>
    {% endfor %}
  </div>
</body>

</html>