<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{name}}</title>
</head>

<body>
  <a href="/form"> <button> Formulario </button></a>
  <table>
    <thead>
      <tr> data </tr>
      <tr> materia</tr>
      <tr> professor</tr>
      <tr> ação</tr>
    </thead>
    <tbody>
      {% if lista_aulas %}
      {% for list in lista_aulas %}
      <tr id="item-{{list.id}}">
        <td> {{list.data}}</td>
        <td> {{list.materia}}</td>
        <td> {{list.professor}}</td>
        <td> <button onclick="deleteAula('{{list.id}}')">Excluir</button></td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>

  </table>

  <script src="../static/script.js"></script>
</body>

</html>